# 프로그래밍 시작하기 in Python

## 파이썬 첫 걸음

### 파이썬 프로그래밍 소개

- 코드 : 컴퓨터에게 일을 시키는 것으로 인간이 컴퓨터와 소통하기 위해 사용하는 언어.
- 코딩 : 컴퓨터를 이해시키기 위해 코드를 작성하는 행위
- 코딩으로 가능한 작업 : 업무 자동화, 웹/앱 개발, 기계/로봇 개발, 데이터 수집/분석 등
- 중요한 역량 : 문제 해결 역량

### 파이썬 프로그래밍 도구들

- 파이썬 인터프리터 (Python Interpreter) : 컴퓨터는 파이썬 코드를 그냥 이해할 수 없기 때문에 컴퓨터가 이해할 수 있는 머신 코드로 바꿔주는 작업이 필요한데, 파이썬 코드를 머신 코드로 변역해주는 것이 파이썬 인터프리터.

## 프로그래밍 기본 개념

- 코멘트 : 파이썬에서는 # (샾) 뒤에 오는 것을 코멘트 (주석) 라고 함.
- 코멘트는 실행했을 때 없는 줄 취급
- 코멘트를 사용하는 목적 :
1) 복잡한 코드 설명
2) 하다가 만 부분 표시
3) 다른 개발자들과 소통

In [ ]:
# 코멘트
print("Hello World") # 이것도 코멘트

Hello World

### 자료형 개요

- 컴퓨터 = 복잡한 계산기
- 프로그래밍 : 계산할 수식들을 컴퓨터에게 알려주는 것
- 자료형 (Data Type) : 숫자 (Number) - 정수 (Integer), 실수 (Floating Point)/ 문자열 (String)/ 불린 (Boolean)/ 리스트/ 딕셔너리/ 튜플

In [ ]:
print("Hello" + "World")

HelloWorld

In [ ]:
print(2 + 5)

7

In [ ]:
print("2" + "5")

25

In [ ]:
print(7 > 3)

True

In [ ]:
print(3 > 7)

False

### 추상화 개요
-  추상화 (Abstraction) : 복잡한 내용은 숨기고, 주요 기능에만 집중
- 변수 (Variable) : 값을 저장하는 것
- 함수 (Function) : 명령을 저장하는 것
- 객체 (Object) - 객체는 추후 객체와 클래스 토픽에서 자세하게 학습할 예정

In [ ]:
x = 254
y = 317

print(x + y)

571

아래 print() 함수가 내부적으로 어떻게 구현되어 있는지 모르므로 추상화

In [ ]:
print("Hello World!")

Hello World!

### 변수

- 변수 : 데이터를 어떤 공간에 담아서 이름표를 붙여주는 것

In [ ]:
print(4990)
print(4990 * 2)
print(4990 + 1490)
print(4990 * 3 + 1490 * 2 + 1250 * 5)

4990
9980
6480
24200

- 아래 예시에서 버거의 가격이 바뀔 경우 한줄 한줄 일일이 바꿔야 하는데, 변수를 사용하면 가격을 외울 필요가 없고, 가격 변동이 있어도 변수 지정 파트만 수정하면 되며, 다른 사람이 이해하기 쉬움
- 지정 연산자 : 등호 오른쪽의 값을 등호 왼쪽으로 넘겨주는 역할

In [ ]:
burger_price = 4990 # 4990을 burger_price에 저장한다
fries_price = 1490
drink_price = 1250

print(burger_price)
print(burger_price * 2)
print(burger_price + fries_price)
print(burger_price * 3 + fries_price * 2 + drink_price * 5)

4990
9980
6480
24200

### 퀴즈) 칼로리 계산기
https://www.codeit.kr/topics/getting-started-with-python/lessons/2739

In [ ]:
kitkat = 190
oreos = 502
pringles = 292
twix = 135.9
cheetos = 485

print(kitkat + oreos * 2)
print(cheetos * 4)
print(pringles + oreos + twix)
print(pringles * 3 + oreos * 2)

1194
1940
929.9
1880

### 함수
- 내장 함수 : 기본으로 저장되어있는 함수

In [ ]:
burger_price = 4990
print(burger_price)

4990

In [ ]:
def hello(): # 함수의 헤더
    print("Hello!")
    print("Welcome to Codeit!")

hello()
hello()
hello()

Hello!
Welcome to Codeit!
Hello!
Welcome to Codeit!
Hello!
Welcome to Codeit!

### 퀴즈) 카페 모카 레시피
https://www.codeit.kr/topics/getting-started-with-python/lessons/2741

In [ ]:
def cafe_mocha_recipe():
    print("1. 준비된 컵에 초코 소스를 넣는다.")
    print("2. 에스프레소를 추출하고 잔에 부어 준다.")
    print("3. 초코 소스와 커피를 잘 섞어 준다.")
    print("4. 거품기로 우유 거품을 내고, 잔에 부어 준다.")
    print("5. 생크림을 얹어 준다.")

cafe_mocha_recipe()
cafe_mocha_recipe()

1. 준비된 컵에 초코 소스를 넣는다.
2. 에스프레소를 추출하고 잔에 부어 준다.
3. 초코 소스와 커피를 잘 섞어 준다.
4. 거품기로 우유 거품을 내고, 잔에 부어 준다.
5. 생크림을 얹어 준다.
1. 준비된 컵에 초코 소스를 넣는다.
2. 에스프레소를 추출하고 잔에 부어 준다.
3. 초코 소스와 커피를 잘 섞어 준다.
4. 거품기로 우유 거품을 내고, 잔에 부어 준다.
5. 생크림을 얹어 준다.

### 파라미터

한 개의 파라미터

In [ ]:
def hello(name): # name은 파라미터
    print("Hello!")
    print(name)
    print("Welcome to Codeit!")

hello("Michael")

Hello!
Michael
Welcome to Codeit!

여러 개의 파라미터

In [ ]:
def print_sum(a, b):
    print(a + b)

print_sum(7, 3)

10

In [ ]:
def print_sum(a, b, c):
    print(a + b + c)

print_sum(7, 3, 2)

12

In [ ]:
def print_sum(num_1, num_2, num_3):
    print(num_1 + num_2 + num_3)

print_sum(7, 3, 2)

12

### 퀴즈) 세 수의 곱
https://www.codeit.kr/topics/getting-started-with-python/lessons/2744

In [ ]:
def multiply_three_numbers(x, y, z):
    print(x * y * z)

multiply_three_numbers(7, 3, 5)
multiply_three_numbers(21, 4, 9)
multiply_three_numbers(-7, 6, 3)

105
756
-126

### return문
- 변수 : 값을 저장하는 것
- 함수 : 명령을 저장하는 것
- 파라미터 : 함수에 넘겨 주는 값
- return : 돌려준다

In [ ]:
def get_square(x):
    return x * x

print(get_square(3))

9

In [ ]:
def get_square(x):
    return x * x

y = get_square(3)
print(y)

9

In [ ]:
def get_square(x):
    return x * x

print(get_square(3) + get_square(4))

25

### 퀴즈) 프로그래밍 기초 퀴즈
https://www.codeit.kr/topics/getting-started-with-python/lessons/2746

In [ ]:
# Q1.
a = 5
b = 8
c = "5"
d = "8"

print(a + b)

13

In [ ]:
# Q2.
a = 5
b = 8
c = "5"
d = "8"

print(c + d)

58

In [ ]:
# Q3.
def my_function(x, y):
    return x + x + y

print(my_function(10, 20))

40

# 프로그래밍 핵심 개념 in Python

## 자료형

### 숫자형

정수형과 정수형 간의 연산은 정수형

In [ ]:
# 덧셈
print(4 + 7)

# 뺄셈
print(2 - 4)

# 곱셈
print(5 * 3)

# 나머지
print(7 % 3)

# 거듭제곱
print(2 ** 3)

11
-2
15
1
8

소수형과 소수형 간의 연산은 소수형

In [ ]:
# 덧셈
print(4.0 + 7.0)

# 뺄셈
print(2.0 - 4.0)

# 곱셈
print(5.0 * 3.0)

# 나머지
print(7.0 % 3.0)

# 거듭제곱
print(2.0 ** 3.0)

11.0
-2.0
15.0
1.0
8.0

정수형과 소수형 간의 연산은 소수형

In [ ]:
# 덧셈
print(4 + 7.0)

# 뺄셈
print(2.0 - 4)

# 곱셈
print(5.0 * 3)

# 나머지
print(7 % 3.0)

# 거듭제곱
print(2.0 ** 3)

11.0
-2.0
15.0
1.0
8.0

나눗셈은 예외 - 나눗셈은 항상 소수형으로 나온다!

In [ ]:
print(7 / 2)
print(6 / 2)
print(7.0 / 2)
print(6.0 / 2.0)

3.5
3.0
3.5
3.0

In [ ]:
print(2 + 3 * 2)

8

In [ ]:
print(2 * (2 + 3))

10

### 숫자형 심화

floor division (버림 나눗셈)

In [ ]:
print(7 // 2)
print(8 // 3)
print(8.0 // 3)
print(8 // 3.0)
print(8.0 // 3.0)

3
2
2.0
2.0
2.0

round (반올림)

In [ ]:
print(round(3.1415936535, 4))

3.1416

### 문자열
- 문자열 : 키보드로 쓸 수 있는 문자들을 표현하는 자료형
- 따옴표 (작은 따옴표로 시작하면 작은 따옴표로 끝나야 하고. 큰 따옴표로 시작하면 큰 따옴표로 끝나야 함.)

In [ ]:
print('코드잇')
print("코드잇")

코드잇
코드잇

In [ ]:
print(7 + 6)

13

In [ ]:
print("7" + "6")

76

### 문자열 연결 (String Concatenation)

In [ ]:
print("Hello" * 3)

HelloHelloHello

In [ ]:
print("코드잇")
print("유재석")

코드잇
유재석

### SyntaxError : 문법 오류

In [ ]:
print('I'm excited to learn Python!')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-1-19c475f30d5f>, line 1)

In [ ]:
print("I'm excited to learn Python!")

I'm excited to learn Python!

백슬래시 사용

In [ ]:
print('I\'m excited to learn Python!')

I'm excited to learn Python!

In [ ]:
print("I\'m \"excited\" to learn Python!")

I'm "excited" to learn Python!

In [ ]:
print("Hello" + "World")

HelloWorld

In [ ]:
print("Hello" * 3)

HelloHelloHello

In [ ]:
print("3" + "5")

35

### 퀴즈) 문자열 실습 I
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2750

In [ ]:
print("'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.")
print('데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.')

'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.

In [ ]:
print('\'응답하라 1988\'은 많은 시청자들에게 사랑을 받은 드라마예요.')
print("데카르트는 \"나는 생각한다. 고로 존재한다.\"라고 말했다.")

'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.

### 퀴즈) 문자열 실습 II
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2751

In [ ]:
print("영화 \'신세계\'에서 \"드루와~\"라는 대사가 유행했다.")

영화 '신세계'에서 "드루와~"라는 대사가 유행했다.

### 형 변환 (Type Conversion, Type Cast)
- 형 변환 : 값을 한 자료형에서 다른 자료형으로 바꾸는 것
- 정수, 소수, 문자 등

숫자 -> 숫자

In [ ]:
print(int(3.8))

3

In [ ]:
print(float(3))

3.0

문자 -> 숫자

In [ ]:
print(int("2") + int("5"))

7

In [ ]:
print(float("1.1") + float("2.5"))

3.6

In [ ]:
print(str(2) + str(5))

25

In [ ]:
age = 7
print("제 나이는 " + age + "살입니다.")

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 7
print("제 나이는 " + str(age) + "살입니다.")

제 나이는 7살입니다.

아래의 경우와 같이 형 변환을 할 때에는 논리적으로 말이 되는지 생각해야 함

In [ ]:
print(int("Hello World"))

ValueError: invalid literal for int() with base 10: 'Hello World'

### 퀴즈) 자료형 퀴즈 I
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2753

In [ ]:
# Q1.
print(10 / (10 % 6))

2.5

In [ ]:
# Q2.
print(2 ** 3.0) # 8.0
print(int("3") + float("5")) # 8.0
print(str(4.0) * 2) # 4.04.0
print(float(int(42 / 5))) # 8.0
print(2 * (3 + 1)) # 8

8.0
8.0
4.04.0
8.0
8

### 퀴즈) format을 이용한 문자열 포매팅
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2757

In [ ]:
# 오늘은 2019년 10월 29일입니다.
year = 2019
month = 10
day = 29

In [ ]:
print("오늘은 " + year + "년 " + month + "월 " + day + "일입니다.")

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("오늘은 " + str(year) + "년 " + str(month) + "월 " + str(day) + "일입니다.")

오늘은 2019년 10월 29일입니다.

format method 사용

In [ ]:
print("오늘은 2019년 10월 29일입니다.")
print("오늘은 {}년 {}월 {}일입니다.".format(year, month, day))

오늘은 2019년 10월 29일입니다.
오늘은 2019년 10월 29일입니다.

In [ ]:
date_string = "오늘은 {}년 {}월 {}일입니다."
print(date_string.format(year, month, day + 1)) # 다음 날 출력

오늘은 2019년 10월 30일입니다.

format 다루기

In [ ]:
print("저는 {}, {}, {}를 좋아합니다!".format("박지성", "유재석", "빌 게이츠"))

저는 박지성, 유재석, 빌 게이츠를 좋아합니다!

In [ ]:
print("저는 {1}, {0}, {2}를 좋아합니다!".format("박지성", "유재석", "빌 게이츠")) # 프로그래밍을 할 때에는 0부터 셈

저는 유재석, 박지성, 빌 게이츠를 좋아합니다!

In [ ]:
num_1 = 1
num_2 = 3

print("{0} 나누기 {1}은 {2:.4f}입니다.".format(num_1, num_2, num_1 / num_2)) # :.2f 앞에 있는 숫자를 소수점 아래 둘째 자리까지 소수로 표현

1 나누기 3은 0.3333입니다.

### 문자열을 포매팅하는 다양한 방식

% 기호 - 오래된 방법으로 잘 쓰지 않음

In [ ]:
name = "최지웅"
age = 32

print("제 이름은 %s이고 %d살입니다." % (name, age))

제 이름은 최지웅이고 32살입니다.

format() 메소드

In [ ]:
name = "최지웅"
age = 32

print("제 이름은 {}이고 {}살입니다.".format(name, age))

제 이름은 최지웅이고 32살입니다.

f-string - 최근에 많이 씀

In [ ]:
name = "최지웅"
age = 32

print(f"제 이름은 {name}이고 {age}살입니다.")

제 이름은 최지웅이고 32살입니다.

### 퀴즈) 문자열 포매팅 실습
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2757

In [ ]:
wage = 5
exchange_rate = 1142.16

In [ ]:
print("{}시간에 {}달러 벌었습니다.".format(1, wage))
print("{}시간에 {}달러 벌었습니다.".format(5, wage * 5))
print("{}시간에 {:.1f}원 벌었습니다.".format(1, wage * 1 * exchange_rate))
print("{}시간에 {:.1f}원 벌었습니다.".format(5, wage * 5 * exchange_rate))

1시간에 5달러 벌었습니다.
5시간에 25달러 벌었습니다.
1시간에 5710.8원 벌었습니다.
5시간에 28554.0원 벌었습니다.

In [ ]:
print(f"{1}시간에 {wage}달러 벌었습니다.")
print(f"{5}시간에 {wage * 5}달러 벌었습니다.")
print(f"{1}시간에 {wage * 1 * exchange_rate :.1f}원 벌었습니다.")
print(f"{5}시간에 {wage * 5 * exchange_rate :.1f}원 벌었습니다.")

1시간에 5달러 벌었습니다.
5시간에 25달러 벌었습니다.
1시간에 5710.8원 벌었습니다.
5시간에 28554.0원 벌었습니다.

### 불 대수
- 수학자 George Bool
- 불 대수 : 일상적인 논리를 수학적으로 표현한 것
- 불 대수의 값 : 진리값, True, False - 어떤 명제가 참인지 거짓인지
- 불 대수의 연산 : AND, OR, NOT
- 명제 : 참과 거짓이 확실한 문장

### 불린형

In [ ]:
# 불린 (Boolean)
print(True)
print(False)

True
False

In [ ]:
print("True") # 문자형
print("False")

True
False

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
print(2 > 1)
print(2 < 1)
print(3 >= 2)
print(3 <= 3)
print(2 == 2)
print(2 != 2)

True
False
True
True
True
False

In [ ]:
print("Hello" == "Hello")
print("Hello" != "Hello")

True
False

In [ ]:
print(2 > 1 and "Hello" == "Hello")

True

In [ ]:
print(not not True)
print(not not False)

True
False

In [ ]:
print(7 == 7 or (4 < 3 and 12 > 10))

True

In [ ]:
x = 3
print(x > 4 or not (x < 2 or x == 3))

False

### type 함수

In [ ]:
print(type(3))
print(type(3.0))
print(type("3"))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
print(type("True"))
print(type(True))

<class 'str'>
<class 'bool'>

In [ ]:
def hello():
    print("Hello World")

print(type(hello))
print(type(print))

<class 'function'>
<class 'builtin_function_or_method'>

### 퀴즈) 자료형 퀴즈 II
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2761

In [ ]:
# Q1.
print(int(2.5) + int(3.8) > int(str(1) + str(2))) # False
print((12 >= 10 and not 3 > 4) or 3 ** 2 != 9) # True
print(True and (True or False)) # True
print(not True or (True and False)) # False
print(False == False) # True

In [ ]:
# Q2.
print(type(4 / 2)) # float
print(type("True")) # str
print(type(10 <= 7)) # bool
print(type(2.0 ** 3)) # float
print(type(2 * 3 = 6)) # bool

## 추상화

### 변수 제대로 이해하기
- 파이썬에서 등호의 의미 : 같다의 의미가 아니라 지정 연산자의 의미

In [ ]:
name = "김현승"
x = 7

x = x + 1 # 지정 연산자 (assignment operator)

In [ ]:
print(x)

8

In [ ]:
x = 7
x = x - 3
print(x)

4

### 함수의 실행 순서

In [ ]:
def hello():
    print("Hello!")
    print("Welcome to Codeit!")

print("함수 호출 전")
hello()
print("함수 호출 후")

함수 호출 전
Hello!
Welcome to Codeit!
함수 호출 후

In [ ]:
def square(x):
    return x * x

print("함수 호출 전")
print(square(3) + square(4))
print("함수 호출 후")

함수 호출 전
25
함수 호출 후

### return문 제대로 이해하기

- return문의 역할 : 함수가 무언가를 돌려주는 것
1) 값 돌려주기
2) 함수 즉시 종료하기

In [ ]:
def square(x):
    print("함수 시작")
    return x * x # 값을 돌려주는 것 뿐만 아니라 함수를 종료시킴
    print("함수 끝") # Dead Code (의미 없는 코드)

print(square(3))
print("Hello World!")

함수 시작
9
Hello World!

### return과 print의 차이

In [ ]:
def print_square(x):
    print(x * x)
    # return None이 있다고 가정

def get_square(x):
    return x * x

print_square(3)
print()
get_square(3)
print()
print(print_square(3))
print()
print(get_square(3))

9


9
None

9

### 퀴즈) return과 print의 차이 실습
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/6722

In [ ]:
def first():
    message = "코드잇"
    return message


def second():
    message = "codeit"
    print(message)

def third():
    message = None
    return message


# 테스트 코드
print(first())
print(second())
print(third())

코드잇
codeit
None
None

### 옵셔널 파라미터
- 옵셔널 파라미터 : 파라미터에 기본값을 설정하는 것
- 옵셔널 파라미터는 반드시 마지막에 지정해 주어야 함!

In [ ]:
def myself(name, age, nationality = "한국"):
    print("내 이름은 {}".format(name))
    print("나이는 {}살".format(age))
    print("국적은 {}".format(nationality))

myself("코드잇", 1)
print()
myself("코드잇", 1, "미국")

내 이름은 코드잇
나이는 1살
국적은 한국

내 이름은 코드잇
나이는 1살
국적은 미국

In [ ]:
def myself(name, nationality = "한국", age):
    print("내 이름은 {}".format(name))
    print("나이는 {}살".format(age))
    print("국적은 {}".format(nationality))

myself("코드잇", 1)
print()
myself("코드잇", "미국", 1)

SyntaxError: non-default argument follows default argument (<ipython-input-259-0d78eec51f6b>, line 1)

### Syntactic Sugar

In [ ]:
# 다음 두 줄은 같습니다.
x = x + 1
x += 1

# 다음 두 줄은 같습니다.
x = x * 2
x *= 2

# 다음 두 줄은 같습니다.
x = x - 3
x -= 3

### 퀴즈) 추상화 퀴즈
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2768

In [ ]:
# Q1.
x = -6
y = 3

x += 2
y -= 1

print(x + y)

-2

In [ ]:
# Q2.
def hello(name):
    print(f"안녕하세요. {name}입니다.")
    print("만나서 반갑습니다.")

print("함수 실행 전")
hello("영훈")
print("함수 실행 후")

함수 실행 전
안녕하세요. 영훈입니다.
만나서 반갑습니다.
함수 실행 후

In [ ]:
# Q3.
def hello(name):
    print(f"안녕하세요. {name}입니다.")
    return "만나서 반갑습니다."

print(hello("영훈"))

안녕하세요. 영훈입니다.
만나서 반갑습니다.

### 변수의 scope
- Scope (범위) : 변수가 사용 가능한 범위
- 로컬 변수 : 변수를 정의한 함수 내에서만 사용 가능
- 글로벌 변수 : 모든 곳에서 사용 가능
- 함수에서 변수를 사용하면, 로컬 변수를 먼저 찾고 나서 글로벌 변수를 찾음

In [ ]:
def my_function():
    x = 3 # 로컬 변수 : 함수 내에서만 사용하는 변수
    print(x)

my_function()

3

In [ ]:
x = 2 # 글로벌 변수 : 함수 밖에서 적용한 변수

def my_function():
    print(x)

my_function()
print(x)

2
2

In [ ]:
x = 2

def my_function():
    x = 3
    print(x)

my_function() # 가장 최근에 지정한 값이 3이므로 3이 출력
print(x)

3
2

In [ ]:
def square(x):
    return x * x # 파라미터도 로컬 변수

print(square(3))

9

### 퀴즈) scope 퀴즈
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2770

In [ ]:
# Q1.
def my_function():
    x = "코드잇"
    y = "을지로"

my_function()

In [ ]:
# Q2.
x = 100

def my_function():
    x = 0
    print(x)

my_function()
print(x)

0
100

In [ ]:
# Q3.
x = 10

def my_function():
    y = 5
    print(x + y)

my_function()
print(x)

15
10

### 상수
- 상수 (constant) : 모든 글자를 대문자로 한다는 규칙
- 프로그램을 실행하는 입장에서는 달라진 것이 없지만 보는 데에는 한 눈에 파악하기가 쉬움

In [ ]:
PI = 3.14 # 원주율 '파이'

def calculate_area(r):
    return PI * r * r

radius = 4 # 반지름
print("반지름이 {}면, 넓이는 {}".format(radius, calculate_area(radius)))

PI = 0
radius = 6
print("반지름이 {}면, 넓이는 {}".format(radius, calculate_area(radius)))

radius = 7
print("반지름이 {}면, 넓이는 {}".format(radius, calculate_area(radius)))

반지름이 4면, 넓이는 50.24
반지름이 6면, 넓이는 0
반지름이 7면, 넓이는 0

### 스타일
- 이해하기 쉬운 코드 = 좋은 스타일을 가진 코드

In [ ]:
print(6.28*4)
print(3.14*4*4)
print(6.28*8)
print(3.14*8*8)

25.12
50.24
50.24
200.96

In [ ]:
PI = 3.14 # 원주율 (파이)

def calculate_circumference(r):
    return 2 * PI * r

def calculate_area(r):
    return PI * r * r

radius = 4 # 반지름
print(calculate_circumference(radius))
print(calculate_area(radius))

radius = 8 # 반지름
print(calculate_circumference(radius))
print(calculate_area(radius))

25.12
50.24
50.24
200.96

### 파이썬 스타일 가이드 (PEP 8)

- 모든 변수와 함수 이름은 소문자로 쓰고, 여러 단어일 경우 _로 나눠주세요.

In [ ]:
some_variable_name = 1

def som_function_name():
    print("Hello")

- 모든 상수 이름은 대문자로 쓰고, 여러 단어일 경우 _로 나눠주세요.

In [ ]:
SOME_CONSTANT = 3.14

In [ ]:
# 의미 있는 이름 (변수)
radius = 2
PI = 3.14
print(PI * radius * radius)

12.56

In [ ]:
# 의미 있는 이름 (함수)
def say_hello():
    print("Hello, world!")

- 들여쓰기는 무조건 스페이스 4개를 사용하세요.

In [ ]:
def say_hello():
    print("Hello, world!")

- 함수 정의 위아래로 빈 줄이 두 개씩 있어야 합니다.
- 하지만, 파일의 첫 줄이 함수 정의인 경우 해당 함수 위에는 빈 줄이 없어도 됩니다.

In [ ]:
def a():
    print('a')


def b():
    print('b')


def c():
    print('c')

- 괄호 바로 안에는 띄어쓰기를 하지 마세요.

In [ ]:
spam(ham[1], [eggs: 2])

- 함수를 정의하거나 호출할 때, 함수 이름과 괄호 사이에 띄어쓰기를 하지 마세요.

In [ ]:
def spam(x):
    print(x + 2)


spam(1)

3

- 쉼표 앞에는 띄어쓰기를 하지 마세요.

In [ ]:
print(x, y)

10 2

- 지정 연산자 앞뒤로 띄어쓰기를 하나씩 넣어 주세요.

In [ ]:
x = 1

- 기본적으로는 연산자 앞뒤로 띄어쓰기를 하나씩 합니다.
- 하지만 연산의 '우선 순위'를 강조하기 위해서는, 연산자 앞뒤로 띄어쓰기를 붙이는 것을 권장합니다.

In [ ]:
i = i + 1
submitted += 1

x = x*2 - 1
hypot2 = x*x + y*y
c = (a+b) * (a-b)

- 일반 코드와 같은 줄에 코멘트를 쓸 경우, 코멘트 앞에 띄어쓰기 최소 두 개를 입력해 주세요.

In [ ]:
x = x + 1  # 코멘트

### 퀴즈) 짝수? 홀수?
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2773

In [ ]:
def is_evenly_divisible(number):
    return number % 2 == 0

print(is_evenly_divisible(3))
print(is_evenly_divisible(7))
print(is_evenly_divisible(8))
print(is_evenly_divisible(218))
print(is_evenly_divisible(317))

False
False
True
True
False

### 퀴즈) 거스름돈 계산기
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2774

- 몫 : //
- 나머지 : %

In [ ]:
def calculate_change(payment, cost):
    change = payment - cost
    c1 = change // 50000
    c2 = (change - 50000 * c1) // 10000
    c3 = (change - 50000 * c1 - 10000 * c2) // 5000
    c4 = (change - 50000 * c1 - 10000 * c2 - 5000 * c3) // 1000

    string = "{}원 지폐: {}장"
    print(string.format(50000, c1))
    print(string.format(10000, c2))
    print(string.format(5000, c3))
    print(string.format(1000, c4))

calculate_change(100000, 33000)
print()
calculate_change(500000, 378000)

50000원 지폐: 1장
10000원 지폐: 1장
5000원 지폐: 1장
1000원 지폐: 2장

50000원 지폐: 2장
10000원 지폐: 2장
5000원 지폐: 0장
1000원 지폐: 2장

## 제어문

### while 반복문
- while 반복문 : 무언가를 반복하기 위해 사용

### while 반복문 구조
- while 조건 부분: # 불린 값으로 계산되는 식
-       수행 부분  # 반복적으로 실행하고 싶은 명령

In [ ]:
i = 1
while i <= 3:
  print("나는 잘 생겼다!")
  i += 1

나는 잘 생겼다!
나는 잘 생겼다!
나는 잘 생겼다!

### 퀴즈) while 반복문 실습 I
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2777

In [ ]:
# Q1.
i = 2
while i <= 100:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 퀴즈) while 반복문 실습 II
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2778

In [ ]:
i = 100
while i % 23 != 0:
    i += 1

print(i)

115

### if문 개념
- 만약 if
- 그렇지 않으면 else

### if문 구조
- if 조건 부분:
-    수행 부분
- else:
-    수행 부분

In [ ]:
temperature = 16

if temperature <= 10:
    print("자켓을 입는다")
else:
    print("자켓을 입지 않는다")

자켓을 입지 않는다

### elif문

In [ ]:
score = 38

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
elif score >= 60:
  print("D")
else:
  print("F")

F

### 퀴즈) 학점 계산기
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2782

In [ ]:
def print_grade(midterm_score, final_score):
    total = midterm_score + final_score
    if total >= 90:
      print("A")
    elif total >= 80:
      print("B")
    elif total >= 70:
      print("C")
    elif total >= 60:
      print("D")
    else:
      print("F")

print_grade(40, 45)
print_grade(20, 35)
print_grade(30, 32)
print_grade(50, 45)

B
F
D
A

### 제어문 꿀팁

### break문
- 만약 while문의 조건 부분과 상관없이 반복문에서 나오고 싶을 때

In [ ]:
i = 100

while True:
    if i % 23 == 0:
      break
    i = i + 1

print(i)

115

### continue문
- 현재 진행되고 있는 작동 부분을 중단하고 바로 조건 부분을 확인하고 싶을 때

In [ ]:
i = 0

while i < 15:
    i = i + 1
    if i % 2 == 1:
      continue
    print(i)

2
4
6
8
10
12
14

##문제 해결 능력 기르기

### 퀴즈) 이상한 수학 문제 I
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2783

In [ ]:
i = 1

while i <= 100:
  if (i % 8 == 0) & (i % 12 != 0):
    print(i)
  i += 1

8
16
32
40
56
64
80
88

### 퀴즈) 이상한 수학 문제 II
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2784

In [ ]:
i = 1

while i < 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [ ]:
i = 1
total = 0

while i < 1000:
  if (i % 2 ==0) | (i % 3 == 0):
    total += i
  i += 1

print(total)

333167

### 퀴즈) 약수 찾기
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2785

In [ ]:
n = 12 # 1, 2, 3, 4, 6, 12 # 120
n % i == 0

In [ ]:
n = 120
i = 1
count = 0

while i <= n:
  if (n % i == 0):
    print(i)
    count += 1
  i += 1

print("{}의 약수는 총 {}개입니다.".format(n, count))

1
2
3
4
5
6
8
10
12
15
20
24
30
40
60
120
120의 약수는 총 16개입니다.

### 퀴즈) 구구단 만들기
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2788

In [ ]:
i = 1

while i <= 9:
  j = 1
  while j <= 9:
    print("{} * {} = {}".format(i, j, i * j))
    j += 1
  i += 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 퀴즈) 택이의 우승 상금
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2786

In [ ]:
c = 2016
p = 1988
t = 50000000
e = 1100000000
r = 0.12

diff = c - p

y = 1

while y <= diff:
  d = round(t * (1+r) ** y)
  y += 1

if d > e:
  print("{}원 차이로 동일 아저씨 말씀이 맞습니다.".format(abs(d - e)))
else :
  print("{}}원 차이로 미란 아주머니 말씀이 맞습니다.".format(abs(d - e)))

94193324원 차이로 동일 아저씨 말씀이 맞습니다.

### 퀴즈) 피보나치 수열
https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2787

In [ ]:
p = 0
c = 1
i = 1

while i <= 50:
  print(c)
  p, c = c, p+c
  i += 1

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025

#프로그래밍과 데이터 in Python

##리스트
- 리스트 (list) : 여러 개의 값을 저장할 때 사용
- 하나의 값들을 리스트의 요소라고 부름
- 인덱스 : 요소의 위치
- 인덱싱 : 요소를 가져오는 것
- 슬라이싱 : 리스트를 자르는 것

In [ ]:
numbers = [2, 3, 5, 7, 11, 13]
names = ["윤수", "헤린", "태호", "영훈"]

print(numbers)
print(names)

[2, 3, 5, 7, 11, 13]
['윤수', '헤린', '태호', '영훈']

### 인덱싱 (indexing)

In [ ]:
print(names[0])

윤수

In [ ]:
print(numbers[1] + numbers[3])

10

In [ ]:
num_1 = numbers[1]
num_3 = numbers[3]
print(num_1 + num_3)

10

In [ ]:
len(numbers)

6

In [ ]:
print(numbers[-1])
print(numbers[-2])
print(numbers[-6])

13
11
2

### 리스트 슬라이싱 (list slicing)

In [ ]:
numbers[0:4] # 인덱스 0부터 인덱스 3까지 출력
numbers[2:] # 인덱스 2부터 시작해서 끝까지
numbers[:3] # 맨 앞에서 인덱스 2까지

[2, 3, 5]

In [ ]:
new_list = numbers[:3] # 2, 3, 5
print(new_list[2])

5

In [ ]:
numbers[0] = 7
print(numbers)

[7, 3, 5, 7, 11, 13]

In [ ]:
numbers[0] = numbers[0] + numbers[1]
print(numbers)

[10, 3, 5, 7, 11, 13]

### 리스트 함수

In [ ]:
numbers = []
print(len(numbers)) # 리스트 안에 몇 개의 요소가 있는지 확인 가능

0

In [ ]:
numbers = []
numbers.append(5)
numbers.append(8)
print(numbers)
print(len(numbers))

[5, 8]
2

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
del numbers[3]
print(numbers)

[2, 3, 5, 11, 13, 17, 19]

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers.insert(4, 37) # 4번째 인덱스에 37을 삽입
print(numbers)

[2, 3, 5, 7, 37, 11, 13, 17, 19]

### 리스트 정렬
- sorted와 sort를 모두 쓸 수 있지만 서로 다름
- sorted: 기존 리스트는 건드리지 않고, 정렬된 새로운 리스트를 리턴
- sort: 아무것도 리턴하지 않고, 기존 리스트를 정렬

In [ ]:
numbers = [19, 13, 2, 5, 3, 11, 7, 17]

In [ ]:
new_list = sorted(numbers, reverse=True) # 정렬된 새로운 리스트가 리턴
print(new_list)

[19, 17, 13, 11, 7, 5, 3, 2]

In [ ]:
print(numbers)

[19, 13, 2, 5, 3, 11, 7, 17]

In [ ]:
print(numbers.sort()) # sort는 아무것도 리턴하지 않고, numbers 자체를 정렬함

None

In [ ]:
numbers.sort(reverse=True)
print(numbers)

[19, 17, 13, 11, 7, 5, 3, 2]

### 퀴즈) 리스트 인덱싱 연습
https://www.codeit.kr/topics/python-programming-and-data/lessons/2793

In [ ]:
greetings = ["안녕", "니하오", "곤니찌와", "올라", "싸와디캅", "헬로", "봉주르"]

In [ ]:
range(len(greetings))

range(0, 7)

In [ ]:
i = 0

while i < len(greetings):
  print(greetings[i])
  i += 1

안녕
니하오
곤니찌와
올라
싸와디캅
헬로
봉주르

### 퀴즈) 온도 단위 바꾸기
https://www.codeit.kr/topics/python-programming-and-data/lessons/2794

In [ ]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = round(((fahrenheit-32) * 5) / 9, 1)
    return celsius

temperature_list = [40, 15, 32, 64, -4, 11]
print("화씨 온도 리스트: {}".format(temperature_list))  # 화씨 온도 출력

i = 0
celcius_list = []
while i < len(temperature_list):
  celcius_list.append(fahrenheit_to_celsius(temperature_list[i]))
  i += 1

print("섭씨 온도 리스트: {}".format(celcius_list))  # 섭씨 온도 출력

화씨 온도 리스트: [40, 15, 32, 64, -4, 11]
섭씨 온도 리스트: [4.4, -9.4, 0.0, 17.8, -20.0, -11.7]

### 퀴즈) 환전 서비스
https://www.codeit.kr/topics/python-programming-and-data/lessons/2795

In [ ]:
def krw_to_usd(krw):
    usd = krw * (1 / 1000)
    return usd

def usd_to_jpy(usd):
    jpy = usd * (1000 / 8)
    return jpy

prices = [34000, 13000, 5000, 21000, 1000, 2000, 8000, 3000]
print("한국 화폐: " + str(prices))

i = 0
usd_list = []
while i < len(prices):
  usd_list.append(krw_to_usd(prices[i]))
  i += 1

print("미국 화폐: " + str(usd_list))

j = 0
jpy_list = []
while j < len(prices):
  jpy_list.append(usd_to_jpy(krw_to_usd(prices[j])))
  j += 1

print("일본 화폐: " + str(jpy_list))

한국 화폐: [34000, 13000, 5000, 21000, 1000, 2000, 8000, 3000]
미국 화폐: [34.0, 13.0, 5.0, 21.0, 1.0, 2.0, 8.0, 3.0]
일본 화폐: [4250.0, 1625.0, 625.0, 2625.0, 125.0, 250.0, 1000.0, 375.0]

### 퀴즈) 리스트 함수 활용하기
https://www.codeit.kr/topics/python-programming-and-data/lessons/2796

In [ ]:
numbers = []
print(numbers)

[]

In [ ]:
numbers.append(1)
numbers.append(7)
numbers.append(3)
numbers.append(6)
numbers.append(5)
numbers.append(2)
numbers.append(13)
numbers.append(14)
print(numbers)

[1, 7, 3, 6, 5, 2, 13, 14]

In [ ]:
i = 0
while i < len(numbers):
  if numbers[i] % 2 != 0:
    del numbers[i]
  else:
    i += 1

In [ ]:
numbers

[6, 2, 14]

In [ ]:
numbers.insert(0, 20)
print(numbers)

[20, 6, 2, 14]

In [ ]:
numbers.sort()
print(numbers)

[2, 6, 14, 20]

### 리스트 꿀팁

In [ ]:
def in_list(some_list, value):
  i = 0
  while i < len(some_list):
    if some_list[i] == value:
      return True
    i += 1
  return False

In [ ]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print(in_list(primes, 7))
print(in_list(primes, 12))

True
False

In [ ]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print(7 in primes)
print(12 in primes)

True
False

In [ ]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print(7 not in primes)
print(12 not in primes)

False
True

리스트 안의 리스트 (Nested List)

In [ ]:
grades = [[62, 75, 77], [78, 81, 86], [85, 91, 89]]
print(grades[0])
print(grades[2])
print(grades[0][0])
print(grades[2][1])
print((grades[0][0] + grades[1][0] + grades[2][0]) / 3)

[62, 75, 77]
[85, 91, 89]
62
91
75.0

sort 메소드
- sorted 함수는 새로운 리스트를 리턴시키는 반면
- sort()는 새로운 리스트를 생성하지 않고 정렬된 상태로 바꿔줌

In [ ]:
numbers = [5, 3, 7, 1]
numbers.sort()
print(numbers)

[1, 3, 5, 7]

reverse 메소드
- 원소들을 뒤집어진 순서로 배치

In [ ]:
numbers = [5, 3, 7, 1]
numbers.reverse()
print(numbers)

[1, 7, 3, 5]

index 메소드
- 인덱스의 값을 리턴해줌

In [ ]:
members = ["영훈", "윤수", "태호", "혜린"]
print(members.index("윤수"))
print(members.index("태호"))

1
2

remove 메소드
- 첫 번째로 x의 값을 가지고 있는 원소를 삭제

In [ ]:
fruits = ["딸기", "당근", "파인애플", "수박", "참외", "메론"]
fruits.remove("파인애플")
print(fruits)

['딸기', '당근', '수박', '참외', '메론']

##for 반복문
- for문은 while문과는 다르게 조건 부분이 없음

In [ ]:
my_list = [2, 3, 5, 7, 11]

for num in my_list:
  print(num)

2
3
5
7
11

### range 함수
- 파라미터 1개 버전 : range(stop) -> 0부터 stop-1까지
- 파라미터 2개 버전 : range(start, stop) -> start부터 stop-1까지의 범위
- 파라미터 3개 버전 : range(start, stop, step) -> start부터 stop-1까지의 범위, 간격 step
- range 함수의 장점 1) 간편함 2) 깔끔함 3) 메모리 효율성

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

### 퀴즈) range 연습
https://www.codeit.kr/topics/python-programming-and-data/lessons/2799

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

i = 0
for num in numbers:
  print(i, num)
  i += 1

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29
10 31

### 퀴즈) 거듭제곱
https://www.codeit.kr/topics/python-programming-and-data/lessons/2800

In [ ]:
for i in range(11):
  print("2^{} = {}".format(i, 2 ** i))

2^0 = 1
2^1 = 2
2^2 = 4
2^3 = 8
2^4 = 16
2^5 = 32
2^6 = 64
2^7 = 128
2^8 = 256
2^9 = 512
2^10 = 1024

### 퀴즈) for문으로 구구단
https://www.codeit.kr/topics/python-programming-and-data/lessons/2801

In [ ]:
for i in range(1, 10):
  for j in range(1, 10):
    print("{} * {} = {}".format(i, j, i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 퀴즈) 피타고라스 삼조
https://www.codeit.kr/topics/python-programming-and-data/lessons/2802

In [ ]:
for a in range(1,400):
  for b in range(1, 400):
    c = 400 - a - b # 계산 속도를 빠르게 하기 위함
    if (a < b < c) & (a*a + b*b == c*c):
      print(a * b * c)

2040000

### 퀴즈) 리스트 뒤집기
https://www.codeit.kr/topics/python-programming-and-data/lessons/2803

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
for left in range(len(numbers) // 2):
  right = len(numbers) - left - 1
  numbers[left], numbers[right] = numbers[right], numbers[left]

print(numbers)

[19, 17, 13, 11, 7, 5, 3, 2]

##사전 (dictionary)

key-value pair (키-값 쌍)

In [ ]:
my_dictionary = {
    5: 25,
    2: 4,
    3: 9
}

In [ ]:
my_dictionary

{5: 25, 2: 4, 3: 9}

In [ ]:
print(type(my_dictionary))

<class 'dict'>

In [ ]:
print(my_dictionary[3])

9

In [ ]:
my_dictionary[9] = 81

In [ ]:
my_dictionary

{5: 25, 2: 4, 3: 9, 9: 81}

In [ ]:
my_family = {
    '엄마': '김자옥',
    '아빠': '이석진',
    '아들': '이동민',
    '딸': '이지영'
}

In [ ]:
print(my_family['아빠'])

이석진

### 퀴즈) 영어 단어장
https://www.codeit.kr/topics/python-programming-and-data/lessons/2807

In [ ]:
vocab = {
    'sanitizer': '살균제',
    'ambition': '야망',
    'conscience': '양심',
    'civilization': '문명'
}
print(vocab)

{'sanitizer': '살균제', 'ambition': '야망', 'conscience': '양심', 'civilization': '문명'}

In [ ]:
vocab['privilege'] = '특권'
vocab['principle'] = '원칙'
print(vocab)

{'sanitizer': '살균제', 'ambition': '야망', 'conscience': '양심', 'civilization': '문명', 'privilege': '특권', 'principle': '원칙'}

사전 활용법

In [ ]:
my_family = {
    '엄마': '김자옥',
    '아빠': '이석진',
    '아들': '이동민',
    '딸': '이지영'
}
print('이지영' in my_family.values())

True

In [ ]:
for value in my_family.values():
  print(value)

김자옥
이석진
이동민
이지영

In [ ]:
print(my_family.keys())

dict_keys(['엄마', '아빠', '아들', '딸'])

In [ ]:
for key in my_family.keys():
  print(key)

엄마
아빠
아들
딸

In [ ]:
for key, value in my_family.items():
  print(key, value)

엄마 김자옥
아빠 이석진
아들 이동민
딸 이지영

In [ ]:
my_family.items()

dict_items([('엄마', '김자옥'), ('아빠', '이석진'), ('아들', '이동민'), ('딸', '이지영')])

### 퀴즈) 사전 뒤집기
https://www.codeit.kr/topics/python-programming-and-data/lessons/2808

In [ ]:
# 영-한 단어장
vocab = {
    'sanitizer': '살균제',
    'ambition': '야망',
    'conscience': '양심',
    'civilization': '문명',
    'privilege': '특권',
    'principles': '원칙'
}

In [ ]:
# 기존 단어장 출력
print("영-한 단어장\n{}\n".format(vocab))

영-한 단어장
{'sanitizer': '살균제', 'ambition': '야망', 'conscience': '양심', 'civilization': '문명', 'privilege': '특권', 'principles': '원칙'}

In [ ]:
vocab.keys()

dict_keys(['sanitizer', 'ambition', 'conscience', 'civilization', 'privilege', 'principles'])

In [ ]:
vocab.values()

dict_values(['살균제', '야망', '양심', '문명', '특권', '원칙'])

In [ ]:
for key, value in vocab.items():
  print(key, value)

sanitizer 살균제
ambition 야망
conscience 양심
civilization 문명
privilege 특권
principles 원칙

In [ ]:
# 언어 사전의 단어와 뜻을 서로 바꿔주는 함수
def reverse_dict(old_dict):
    new_dict = {}  # 새로운 사전

    for key, value in old_dict.items():
      new_dict[value] = key
    return new_dict  # 변환한 새로운 사전 리턴

# 영-한 단어장
vocab = {
    'sanitizer': '살균제',
    'ambition': '야망',
    'conscience': '양심',
    'civilization': '문명',
    'privilege': '특권',
    'principles': '원칙'
}

# 기존 단어장 출력
print("영-한 단어장\n{}\n".format(vocab))

# 변환된 단어장 출력
reversed_vocab = reverse_dict(vocab)
print("한-영 단어장\n{}".format(reversed_vocab))

영-한 단어장
{'sanitizer': '살균제', 'ambition': '야망', 'conscience': '양심', 'civilization': '문명', 'privilege': '특권', 'principles': '원칙'}

한-영 단어장
{'살균제': 'sanitizer', '야망': 'ambition', '양심': 'conscience', '문명': 'civilization', '특권': 'privilege', '원칙': 'principles'}

### 퀴즈) 투표 집계하기
https://www.codeit.kr/topics/python-programming-and-data/lessons/2809

In [ ]:
votes = ['김영자', '강승기', '최만수', '김영자', '강승기', '강승기', '최만수', '김영자', '최만수', '김영자', '최만수', '김영자', '김영자', '최만수', '최만수', '최만수', '강승기', '강승기', '김영자', '김영자', '최만수', '김영자', '김영자', '강승기', '김영자']

In [ ]:
vote_counter = {}

for name in votes:
  if name not in vote_counter:
    vote_counter[name] = 1
  else:
    vote_counter[name] += 1

print(vote_counter)

{'김영자': 11, '강승기': 6, '최만수': 8}

###파이썬 데이터의 비밀

Aliasing

In [ ]:
x = 5
y = x
y = 3

print(x)
print(y)

5
3

In [ ]:
# 헷갈릴 수 있지만 같은 리스트에 같은 태그가 붙임
# y는 가명 (alias)
x = [2, 3, 5, 7, 11]
y = x
y[2] = 4

print(x)
print(y)

[2, 3, 4, 7, 11]
[2, 3, 4, 7, 11]

In [ ]:
# y는 alias가 아님
x = [2, 3, 5, 7, 11]
y = list(x) # 리스트 함수의 역할은 리스트를 복사해줌
y[2] = 4

print(x)
print(y)

[2, 3, 5, 7, 11]
[2, 3, 4, 7, 11]

### 퀴즈) Aliasing 퀴즈
https://www.codeit.kr/topics/python-programming-and-data/lessons/2811

In [ ]:
# Q1.
x = [2, 3, 5, 7, 9]
y = x
y[2] = 11
x[4] = 13

print(y)

[2, 3, 11, 7, 13]

In [ ]:
# Q2.
x = ["이기훈", "김민주", "최고은", "우설희", "최규호"]
y = list(x)
y[0] = "강귀윤"
x[1] = "김원일"
print(x)

['이기훈', '김원일', '최고은', '우설희', '최규호']

In [ ]:
# Q3.
x = ["이기훈", "김민주", "최고은", "우설희", "최규호"]
y = list(x)
z = x
y[0] = "강귀윤"
x[1] = "김원일"
z[2] = "성재훈"
print(x)

['이기훈', '김원일', '성재훈', '우설희', '최규호']

###리스트와 문자열
- 리스트는 자료형을 나열한 것
- 문자열은 문자를 나열한 것

In [ ]:
alphabet_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

print(alphabet_list[0])
print(alphabet_list[1])
print(alphabet_list[4])
print(alphabet_list[-1])

print(alphabet_list[0:5])
print(alphabet_list[4:])
print(alphabet_list[:4])

A
B
E
J
['A', 'B', 'C', 'D', 'E']
['E', 'F', 'G', 'H', 'I', 'J']
['A', 'B', 'C', 'D']

In [ ]:
alphabet_string = 'ABCDEFGHIJ'

print(alphabet_string[0])
print(alphabet_string[1])
print(alphabet_string[4])
print(alphabet_string[-1])

print(alphabet_string[0:5])
print(alphabet_string[4:])
print(alphabet_string[:4])

A
B
E
J
ABCDE
EFGHIJ
ABCD

In [ ]:
str_1 = "Hello"
str_2 = "World"
str_3 = str_1 + str_2
print(str_3)

HelloWorld

In [ ]:
list_1 = [1, 2, 3, 4]
list_2 = [5, 6, 7, 8]
list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
my_list = [2, 3, 5, 7, 11]
print(len(my_list))

5

In [ ]:
my_string = "Hello World!"
print(len(my_string))

12

In [ ]:
numbers = [1, 2, 3, 4]
numbers[0] = 5
print(numbers)

[5, 2, 3, 4]

In [ ]:
# 문자열은 리스트와 달리 수정이 불가능
name = "codeit"
name[0] = "C"
print(name)

TypeError: 'str' object does not support item assignment

## 리스트와 문자열 정리

인덱싱 (Indexing)

In [ ]:
alphabet_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
print(alphabet_list[0])
print(alphabet_list[1])
print(alphabet_list[4])
print(alphabet_list[-1])

alphabet_string = "ABCDEFGHIJ"
print(alphabet_string[0])
print(alphabet_string[1])
print(alphabet_string[4])
print(alphabet_string[-1])

A
B
E
J
A
B
E
J

for 반복문

In [ ]:
alphabet_list = ['C', 'O', 'D', 'E', 'I', 'T']

for alphabet in alphabet_list:
  print(alphabet)

C
O
D
E
I
T

In [ ]:
alphabets_string = 'CODEIT'

for alphabet in alphabets_string:
  print(alphabet)

C
O
D
E
I
T

슬라이싱 (Slicing)

In [ ]:
alphabet_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
print(alphabet_list[0:5])
print(alphabet_list[4:])
print(alphabet_list[:4])

alphabet_string = "ABCDEFGHIJ"
print(alphabet_string[0:5])
print(alphabet_string[4:])
print(alphabet_string[:4])

['A', 'B', 'C', 'D', 'E']
['E', 'F', 'G', 'H', 'I', 'J']
['A', 'B', 'C', 'D']
ABCDE
EFGHIJ
ABCD

덧셈 연산, 연결하는 연산

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
list3 = list1 + list2
print(list3)

string1 = '1234'
string2 = '5678'
string3 = string1 + string2
print(string3)

[1, 2, 3, 4, 5, 6, 7, 8]
12345678

len함수

In [ ]:
print(len(['H', 'E', 'L', 'L', 'O']))
print(len("Hello, world!"))

5
13

Mutable (수정 가능) vs. Immutable (수정 불가능)
- 리스트는 mutable하지만, 숫자, 불린, 문자형은 immutable한 자료형

In [ ]:
numbers = [1, 2, 3, 4]
numbers[0] = 5
print(numbers)

[5, 2, 3, 4]

In [ ]:
name = "codeit"
name[0] = "C"
print(name)

TypeError: 'str' object does not support item assignment

### 퀴즈) 자릿수 합 구하기
https://www.codeit.kr/topics/python-programming-and-data/lessons/2814

In [ ]:
def sum_digits(num):
  total = 0
  str_num = str(num)

  for i in str_num:
    total += int(i)
  return total

digit_total = 0
for i in range(1, 1001):
  digit_total += sum_digits(i)

print(digit_total)

13501

### 퀴즈) 주민등록번호 가리기
https://www.codeit.kr/topics/python-programming-and-data/lessons/2815

In [ ]:
asterisk_count = 4

def mask_security_number(security_number):
    return security_number[0:len(security_number) - asterisk_count] + "*" * asterisk_count

print(mask_security_number("880720-1234567"))
print(mask_security_number("8807201234567"))
print(mask_security_number("930124-7654321"))
print(mask_security_number("9301247654321"))
print(mask_security_number("761214-2357111"))
print(mask_security_number("7612142357111"))

880720-123****
880720123****
930124-765****
930124765****
761214-235****
761214235****

###퀴즈) 팰린드롬
https://www.codeit.kr/topics/python-programming-and-data/lessons/2816

In [ ]:
word = "stars"

In [ ]:
len(word)

5

In [ ]:
len(word) // 2

2

In [ ]:
word[0]

's'

In [ ]:
def is_palindrome(word):
  for left in range(len(word) // 2):
    right = len(word) - left - 1
    if word[left] == word[right]:
     return True
  return False

In [ ]:
print(is_palindrome("racecar"))
print(is_palindrome("stars"))
print(is_palindrome("토마토"))
print(is_palindrome("kayak"))
print(is_palindrome("hello"))

True
False
True
True
False